/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/


* {
    padding: 0;
    margin: 0;
}


*,
*::after,
*::before {

    box-sizing: inherit;
}

/// CUSTOM PROPERTIES /// 

:root {
    // All childs of root will have acces to custom properties, thats thw way custom properties works, acces to it have element which cp is defined and its children
    // thats why we declared cp in root, it gives the acces to cp to all elements on the page

    --color-white:#fff;

    --color-primary-light: #FF3366;
    --color-primary-dark: #BA265D;

    --color-grey-dark-1:#333;
    --color-grey-dark-2:#777;
    --color-grey-dark-3:#999;


    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3:#f0eeee;
    --color-grey-light-4:#ccc;

    

    --shadow-1:0 2rem 6rem rgba(0, 0, 0, .5); // x y blur color( 0, 0, 0,opacity)
}



html {
    font-size: 62.5%; //10px
    box-sizing: border-box;
}

body {
    
    background-image: linear-gradient(to right bottom,var(--color-primary-light),var(--color-primary-dark));
    min-height: 100vh;
    line-height: 1.6;
    color:var(--color-grey-dark-2);
    font-weight: 400;
    background-size: cover;
    font-family: Open-sans,sans-serif; // if engine doesn't find the open sans will sue the value after coma, that is sans serif
}